* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Manrope Regular';
    src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: 'Manrope Bold';
    src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
    font-family: 'NunitoSans Bold';
    src: url(../fonts/NunitoSans-Bold.ttf);
}

html,
body {
    height: 100%;
}

body {
    background-color: #181f27;
}

.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

.cv__app {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Manrope Regular';
    color: #dbdde9;
    overflow-y: scroll;
}

.header__background {
    position: absolute;
    width: 980px;
    height: 100%;
    right: 0;
    z-index: -1;
    background: radial-gradient(47.35% 40.58% at 99.96% 41.27%, #40848C 0%, rgba(62, 132, 140, 0) 100%), radial-gradient(74.26% 49.64% at 83.63% 96.83%, #A46464 0%, #8B6C6F 62.15%, rgba(132, 110, 115, 0.7) 80.74%, rgba(124, 113, 118, 0) 100%), radial-gradient(55.74% 49% at 75.65% 3.28%, #0F6CAF 0%, rgba(38, 122, 156, 0.79) 46.63%, rgba(45, 126, 150, 0.51) 76.71%, rgba(56, 132, 142, 0) 100%), radial-gradient(45.06% 43.65% at 24.8% 74.44%, #C11E9B 0%, #873D7C 40.98%, rgba(125, 65, 137, 0.76) 70.43%, rgba(118, 64, 136, 0.560669) 86.94%, rgba(106, 63, 134, 0.22) 100%);
    border-top-left-radius: 70% 46%;
    border-bottom-left-radius: 100% 54%;
}

.header,
.footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.header {
    background-color: rgba(35, 39, 48, 0.843);
    backdrop-filter: blur(3px);
    position: sticky;
    top: 0;
    width: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper a {
    display: flex;
    align-items: center;
    font-family: 'Manrope Bold';
    font-size: 18px;
    color: #dbdde9;
    text-decoration: none;
}

.header__link span {
    margin-left: 10px;
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__item a {
    padding: 20px 20px;
}

.header__link:active {
    transform: scale(0.8);
}

.nav__item a:hover {
    background-color: rgba(50, 91, 107, 0.473);
    color: #afb1bb;
    transition: .4s;
}

.author_inf__wrapper {
    display: grid;
    grid-template-areas: 
    "profile_photo profile_name"
    "profile_photo profile_contacts";
    grid-template-columns: 280px auto; 
    grid-template-rows: 70% auto; 
    column-gap: 60px;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}

.author_inf__photo {
    grid-area: profile_photo;
}

.author__avatar {
    width: 280px;
    border-radius: 30px;
}

.author_inf__name {
    grid-area: profile_name;
}

.author_inf__name h1 {
    font-size: 72px;
}

.author_inf__name p {
    font-size: 36px;
}

.author_inf__contacts {
    grid-area: profile_contacts;
}

.contacts__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.contact__item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 24px;
    padding-bottom: 10px;
}

.contact__item a span{
    padding-left: 6px;
}


.about__wrapper {
    display: flex;
    padding-bottom: 30px;
}

.about__item {
    padding: 18px 10px;
    border: 1px solid red;
    border-radius: 10px;
    text-align: justify;
    font-size: 18px;
}

.about__item h2 {
    display: inline-block;
    margin-bottom: 18px;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: coral;
    font-size: 32px;
}

.about__myself {
    margin-right: 10px;
}

.skill__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.code__title,
.skills__title {
    font-size: 44px;
    flex: 1 1 0;
}

.code__title h2,
.skills__title h2 {
    text-align: center;
}

.code__example,
.skills__list {
    flex: 1 1 0;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid burlywood;
    border-radius: 5px;
}

.skills__items {
    list-style: none;
}

.skills__item {
    padding: 11px 0 10px 40px;
}

.skills__item:not(:last-child) {
    margin-bottom: 10px;
    font-size: 16px;
}

.skills__item:nth-child(1) {
    background: url(../images/icon_dwg.png) center left no-repeat;
}

.skills__item:nth-child(2) {
    background: url(../images/icon_html5.png) center left no-repeat;
}

.skills__item:nth-child(3) {
    background: url(../images/icon_css.png) center left no-repeat;
}
.skills__item:nth-child(4) {
    background: url(../images/icon_js.png) center left no-repeat;
}
.skills__item:nth-child(5) {
    background: url(../images/icon-github.png) center left no-repeat;
}
.skills__item:nth-child(6) {
    background: url(../images/icon_photoshop.png) center left no-repeat;
}
.skills__item:nth-child(7) {
    background: url(../images/icon_code.png) center left no-repeat;
}

.code__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 30px;
}

.code__table {
    font-size: 16px;
    font-weight: bold;
}

.code__violet {
    color: blueviolet;
}

.code__azure {
    color: rgb(91, 136, 136);
}

.code__orange {
    color: orange;
}

.code__green {
    color: green;
}

.code__blue {
    color: blue;
}

.experience__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    height: 300px;
}

.languages__wrapper {
    padding-bottom: 30px;
    
    
    height: 200px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer__rss img{
    width: 86px;
    height: 32px;
}